body {
    background-color: rgb(84, 10, 21);
    font-family: Didot, serif;
    font-size: 20px;
    margin: 0;
    padding:0;
    }
  
 header {
    background-color: rgb(250, 245, 242);
    color:rgb(84, 10, 21);
    text-align: center;
    padding: 5px 0;
    font-size: 30px;
    border-bottom: 5px solid rgb(236, 173, 102);
  }
div {
  background-color: rgb(250, 245, 242);
  color:rgb(172, 19, 42);
  padding: 5px;
  margin: 10px;
  }

.about {
  text-align: center;
  margin:40px;
  border: 5px solid rgb(236, 173, 102);
}
 .about p { 
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  color:rgb(43, 48, 51);
  line-height: 1.5em;
  text-align: justify;
  padding: 20px;
    } 

.experience {
  text-align: center;
  margin:40px;
  border: 5px solid rgb(236, 173, 102);
}

.exp-container {
  font-family: Gill Sans, sans-serif;
  padding: 1px;
  font-size: 18px;
}
.title-font {
  color:rgb(84, 10, 21);
}
.exp-title {
  flex-grow: 1;
  font-weight: bold;
  text-align:left
}

.exp-description {
  text-align: left;
}
.exp-description ul  {
    list-style: none;
    position: relative;
    font-family: Gill Sans, sans-serif;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    color:rgb(43, 48, 51);
  }
.exp-description ul li:before {
    content: "◈";
    position: absolute;
	  left: 0;
    color: rgb(236, 173, 102);
  }

 ul  {
    list-style: none;
    position: relative;
    margin-left: 20px;
    padding-left: 1.2em;
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    text-align: left;
    color:rgb(43, 48, 51);
  }
ul li:before {
    content: "◈";
    position: absolute;
	  left: 0;
    color: rgb(236, 173, 102);
}

footer {
    background-color: rgb(250, 245, 242);
    text-align: left;
    padding: 5px 0;
    border-top: 5px solid rgb(236, 173, 102);
  }
.connect {
  color:rgb(172, 19, 42);
  display: flex;
}
.fa {
  padding-left: 10px;
  text-decoration: none;
  color: rgb(84, 10, 21);
}
.fa:visited {
  color: rgb(84, 10, 21);
}
.fa:hover {
  color: rgb(236, 173, 102);
}                                              
.fa:active {
  color: rgb(172, 19, 42);
}