body {
    background-color: rgb(84, 10, 21);
    font-family: Didot, serif;
    font-size: 20px;
    margin: 0;
    padding:0;
    }
  
 header {
    background-color: rgb(250, 245, 242);
    color:rgb(84, 10, 21);
    text-align: center;
    padding: 5px 0;
    font-size: 25px;
    border-bottom: 5px solid rgb(236, 173, 102);
  }

.navbar {
  background-color: rgb(250, 245, 242);
  font-size: 20px;
  font-weight: bold;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }

  .navbar a {
  color: rgb(236, 173, 102);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  }

  .navbar a:hover {
  background-color: rgb(236, 173, 102);
  color: rgb(250, 245, 242);
  }

/*title colors & box spaces */  
div {
  color:rgb(172, 19, 42);
  padding: 5px;
  margin: 5px;
  }

/* column container */
.column {  
  background-color: rgb(84, 10, 21);
  display: flex;
  
}

/* sidebar column */
.about {
  flex: 30%;
  margin: 20px;
  text-align: center;
  background-color: rgb(250, 245, 242);
  border: 5px solid rgb(236, 173, 102);
  padding: 5px;
}

/* sidebar image */
img {
  width: 60%;
  display: block;
  margin: auto;
}

 .about p { 
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  color:rgb(43, 48, 51);
  line-height: 1.5em;
  text-align: justify;
  padding: 20px;
    } 

.main-column {  
  flex-wrap: wrap;
  margin: auto;
}
.experience, .projects {
  text-align: center;
  margin: 20px;
  background-color: rgb(250, 245, 242);
  border: 5px solid rgb(236, 173, 102);
  flex: 70%;
  padding: 5px;
}

.exp-container {
  font-family: Gill Sans, sans-serif;
  padding: 1px;
  font-size: 18px;
}
.title-font {
  color:rgb(84, 10, 21);
}
.exp-title {
  flex-grow: 1;
  font-weight: bold;
  text-align:left
}

.exp-description {
  text-align: left;
}
.exp-description ul  {
    list-style: none;
    position: relative;
    font-family: Gill Sans, sans-serif;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    color:rgb(43, 48, 51);
  }
.exp-description ul li:before {
    content: "◈";
    position: absolute;
	  left: 0;
    color: rgb(236, 173, 102);
  }


#skills {
  text-align: center;
  margin: 20px;
  background-color: rgb(250, 245, 242);
  border: 5px solid rgb(236, 173, 102);
  flex: 70%;
  padding: 5px;
}

 ul  {
    list-style: none;
    position: relative;
    margin-left: 20px;
    padding-left: 1.2em;
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    text-align: left;
    color:rgb(43, 48, 51);
  }
ul li:before {
    content: "◈";
    position: absolute;
	  left: 0;
    color: rgb(236, 173, 102);
}

footer {
    background-color: rgb(250, 245, 242);
    text-align: left;
    padding: 5px 0;
    border-top: 5px solid rgb(236, 173, 102);
  }
.connect {
  color:rgb(172, 19, 42);
  display: flex;
}
.fa {
  padding-left: 10px;
  text-decoration: none;
  color: rgb(84, 10, 21);
}
.fa:visited {
  color: rgb(84, 10, 21);
}
.fa:hover {
  color: rgb(236, 173, 102);
}                                              
.fa:active {
  color: rgb(172, 19, 42);
}

/** media queries**/ 

/*standard tablet*/

@media screen and (max-width: 768px){
body{
  font-size: 100%;
  background-color:rgb(58,	13,	35);
} 
header, .navbar{
  font-size: 100%;
}
.column{
  flex-wrap: wrap;
  background-color:rgb(58,	13,	35);
} 
.about p, .exp-container, ul {
  flex-direction: column;
  font-size: 100%;
  } 
}

/*phones and smaller screens*/

@media screen and (max-width: 500px){
body {
  font-size: 100%;
  }
header{
  font-size: 100%;
  color:rgb(236, 173, 102);
  }
.navbar, .about p, ul, ul li:before {
  flex-direction: column;
  font-size: 100%;
  } 

  .exp-title, .exp-description, .exp-description ul, .exp-description ul li:before {
  flex-direction: column;
  font-size: 100%;
  } 

.navbar a {
  color:rgb(116,	27,	71);
  }
.navbar a:hover {
  background-color:rgb(116,	27,	71);
  }
}